@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    /* Font Family */
    font-family: "Poppins", sans-serif;

    /* Colors */
    --background: rgb(0, 0, 33);
    ;
    --font-color: rgb(255, 255, 255);
    --color3: rgb(80, 87, 122);
    --color4: rgb(94, 77, 188);

    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--font-color);
}

/* ================================================
===================== COMMON ======================
=================================================== */
a {
    text-decoration: none;
}

main {
    padding: 0 8%;
}

/* ================================================
===================== UTILITY CLASS ======================
=================================================== */
.purpule {
    color: rgba(255, 0, 255, 0.882);
}

/* ================================================
===================== HEADER ======================
=================================================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(14, 14, 61);
    padding: 0 6%;
}

.right ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.right ul li {
    margin: 0 23px;
}

.left {
    font-size: 1.5rem;
}

.right ul li a {
    text-decoration: none;
    color: var(--font-color);
    border: 2px solid transparent;
    padding: 5px;
}

.right ul li a:hover {
    color: rgb(158, 158, 230);
    border: 2px solid white;
}

/* ================================================
===================== FOOTER ======================
=================================================== */
footer {
    margin-top: 10px;
    background-color: rgba(2, 2, 82, 0.205);
}

.foot-panel1 a {
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.925);
    background-color: rgb(14, 14, 61);
    padding: 10px 10px;
    margin-top: 10px;
}

.copy-right {
    font-size: .75rem;
    margin: 10px 0;
}

/* ***************************************************
******************* index.html *******************
****************************************************** */
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0 24% 0;
}

.first-section>div {
    width: 35%;
}

.left-section {
    font-size: 2.7rem;
}

.right-section img {
    width: 80%;
}

.passion {
    color: rgb(71, 172, 240);
}


/* ***************************************************
******************* projects.html *******************
****************************************************** */
.word-style {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3125rem;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.project {
    background-color: rgba(100, 2, 250, 0.2);
    padding: 10px 10px 10px 20px;
    width: 40%;
}

.title {
    font-size: 1.5625rem;
    text-align: center;

}

.sub-sections {
    margin: 10px 0;
}

.sub-sections h6 {
    margin-bottom: 5px;
    font-size: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 15px 0;

}

.buttons a {
    color: var(--font-color);
    background-color: rgb(9, 9, 218);
    padding: 10px 30px;
    border-radius: 4rem;
    font-size: .9rem;
}

/* ***************************************************
******************* education.html *******************
****************************************************** */
.road {
    margin-top: 20%;
    background-color: rgb(117, 112, 112);
    height: 200px;
    width: 100%;
    transform: rotateX(50deg);
    margin-bottom: 14%;
}
.remove-padding{
    padding: 0;
}
.road-lines {
    display: flex;
    justify-content: space-evenly;
    border-top: 10px dashed white;
    position: relative;
    top: 90px;
}

.edu {
    position: relative;
    bottom:320px;
    max-width: 25rem;
    background-color: rgb(56, 56 ,64);
    min-height: fit-content;
    padding: 10px;
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.18);
}

.edu h4 {
    font-size: 1.78rem;
    margin-bottom: 20px;
}

.edu p {
    margin-bottom: 10px;
    font-size: 1.25rem;
}
.current{
    background-color: rgb(151, 92, 13);
}
.years{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    bottom: 200px;
    padding: 20px 50px;
    color: rgb(199, 195, 195);
}

.spacer{
    text-align: center;
   width: 25rem;
   color: rgb(56 56 64);
}

/* ***************************************************
******************* achivements.html *******************
****************************************************** */

/* ***************************************************
******************* contactme.html *******************
****************************************************** */
#content-contactme {
    display: flex;
    justify-content: center;
}

/* ****** Contact Form ****** */
form {
    background-color: var(--color2);
    padding: 10px 30px 10px 30px;
    width: 570px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
}

input {
    background: transparent;
    margin-top: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 10px;
    height: 50px;
    width: 500px;
    font-size: 20px;
}

input::placeholder,
textarea::placeholder {
    color: rgb(176, 167, 167);
}

textarea {
    background: transparent;
    margin-top: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 0 0 10px;
    width: 500px;
    font-size: 20px;
}

button[type="submit"] {
    background-color: var(--color3);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 500px;
    font-size: 20px;
}

/* ======================================================
===================== FOOTER ============================
========================================================= */
footer p {
    text-align: center;
}